<div id="<%= dom_id invoice %>">
  <p>
    <strong>Rut Emisor:</strong>
    <%= invoice.owner_identification %>
  </p>

  <p>
    <strong>Rut Receptor:</strong>
    <%= invoice.recipient_identification %>
  </p>

  <p>
    <strong>Monto:</strong>
    <%= invoice.amount %>
  </p>

  <p>
    <strong>Folio:</strong>
    <%= invoice.invoice_identification %>
  </p>

  <p>
    <strong>Fecha de vencimiento:</strong>
    <%= invoice.due_date %>
  </p>
  <hr>
</div>

<div>
  <% invoice.quotations.each do |quotation| %>
    <p>
      <strong>Tasa de negocio:</strong> <%= quotation.document_rate %> |
      <strong>Comision:</strong> <%= quotation.commision %> |
      <strong>Porcentaje de anticipo:</strong> <%= quotation.advance_percentage %>
    </p>
    <p>
      <strong>Costo de financiamiento:</strong> <%= quotation.financing_expense %> |
      <strong>Giro a recibir:</strong> <%= quotation.get_amount %> |
      <strong>Excedentes:</strong> <%= quotation.excess %> 
    </p>
    <hr>
  <% end %>
</div>